

.node.filtered {
  fill-opacity:0.3;
  stroke-opacity:0.3;
}

.node.hidden {
  visibility : hidden;
}

text.filtered {
  fill-opacity:0;
  stroke-opacity:0;
}

.link.filtered {
  stroke: #ddd;
  fill-opacity:0.1;
  stroke-opacity:0.1;
}

.link.hidden {
  visibility : hidden;
}

.link.dependency {
  stroke: #900;
  fill:#900;
  pointer-events: none;
}

.link.dependants {
  stroke: #090;
  fill:#090;
  pointer-events: none;
}


.node.skipped {
  fill-opacity:0.0;
  stroke-opacity:0.0;
}

text.skipped {
  fill-opacity:0;
  stroke-opacity:0;
}

.link.skipped {
  stroke: #ddd;
  fill-opacity:0.0;
  stroke-opacity:0.0;
}

.node {
  stroke: #000;
  stroke-width: 0.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
  fill: none;
  stroke-width: 1.5px;
  pointer-events: none;
}

.marker#default {
  stroke: #999;
  fill:#999;
  pointer-events: none;
}

.marker#dependency {
  stroke: #900;
  fill:#900;
  pointer-events: none;
}

.marker#dependants {
  stroke: #090;
  fill:#090;
  pointer-events: none;
}

body {
  margin: 0px;
  padding: 0px;
}

html {
  overflow: hidden;
}

text {
  stroke: #000;
  stroke-width: 0.5px;
  text-anchor:middle;
  font: 10px sans-serif;
  font-weight: normal;
  font-style: normal;
  pointer-events: none;
}

form {
  position: absolute;
  right: 10px;
  top: 60px;
  color: white;
  width: 370px;
}

form label {
  color: white;
}

form input::placeholder {
  color: white;
}

#form-background {
  position: absolute;
  right: 0px;
  top: 60px;
  width: 390px;
  height: 350px;
  background-color: #000;
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
}

#simple-menu {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 0;
}
